<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/vue"></script>
    <title>Horus Logger | Login </title>

    <meta name="robots" content="noindex, nofollow">
</head>

<body class="bg-gray-200">
<section class="hp-main overlay">
    <div class="container v-flex">
        <div class="col-md-5 hp-main-description">
            <form method="POST" action="/login">
                <div class="mt-4 ">
                    <input type="password" name="key" class="form-control" placeholder="key"/>
                </div>

                <button type="submit" class="mt-4 myos-btn-alternate">Login</button>
            </form>
        </div>
    </div>
</section>

{{if .Message}}
    <script>
        alert({{.Message}})
    </script>
{{end}}
</body>
</html>